
body{
  background-color: #a8dadc;
}
h5{
  margin-bottom: 20px;
}
h4{
  font-family: 'Oswald', sans-serif;
}
p{
  font-size: 1rem;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
}
.form{
  margin-top: 30px;
}
#Top{
  padding-top: 20px;
  text-align: center;
}
#Btm{
  text-align: center;
  margin: 20px auto;
}

.logo{
  width: 200px;
  height: 100px;

}
.divtop{
  margin: auto 2%;
  text-align: left;
  background-color: #457b9d;
  margin-top: 20px;
  padding: 50px 5%;
}
.divtopp2{
  margin: auto 2%;
  text-align: left;
  background-color: #457b9d;
  margin-top: 20px;
  padding: 50px 5%;
}
.copyright{
  font-size: 0.7rem;
}
